{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <div class="body-wrapper">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">D V V S VINOD KUMAR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tooglernavbarcontent" aria-controls="tooglernavbarcontent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="tooglernavbarcontent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#projects-summary">PROJECTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">PHOTOS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#aboutme">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contactme">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container header-profile-summary my-5">
            <div class="profiler-content row align-items-center">
                <div class="profiler-img col-6">
                    <img class="img-fluid img-thumbnail" src="{% static 'images/profile.jpg' %}" alt="">
                </div>
                <div class="profiler-summary col-6">
                    <h1 class="heading">Hey! I'm Vinod Kumar, Automation Test Engineer
                    </h1>
                    <p class="profiler-text">AdHoc Photographer <br>
                        Oops!!
                        Proficient Tester
                    </p>
                    <ul class="social-media">
                        <li class="icon"><a href="https://www.instagram.com/vinoddvvs/"><i
                                    class="fab fa-instagram"></i></a>
                        </li>
                        <li class="icon"><a href="https://www.facebook.com/dvvs.vinod/"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="icon"><a href="https://www.instagram.com/vinoddvvs/"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="profiler-skills">

            <p class="heading-skills">SKILLS</p>
            <h1 class="heading mx-5 my-5 mx-4 ">I can help you with</h1>
            <div class="skillset row justify-content-center">
                <div class="skills col-lg-4 col-md-6 col-sm-3">
                    <img src="{% static 'images/java.png' %}" />
                    <h3 class="text-center">JAVA</h3>
                </div>
                <div class="skills  col-lg-4 col-md-6 col-sm-3">
                    <img src="{% static 'images/python.png' %}" />
                    <h3 class="text-center">PYTHON</h3>
                </div>
                <div class="skills col-lg-4 col-md-6 col-sm-6">
                    <img src="{% static 'images/cucumber.png' %}" />
                    <h3 class="text-center">CUCUMBER</h3>
                </div>
            </div>
            <div class="skillset row ">
                <div class="skills col-lg-4 col-md-6 col-sm-6">
                    <img class="text-center" src="{% static 'images/django.png' %}" />
                    <h3 class="text-center">DJANGO</h3>
                </div>
                <div class="skills col-lg-4 col-md-6 col-sm-6">
                    <img src="{% static 'images/html.png' %}" />
                    <h3 class="text-center">HTML</h3>
                </div>
                <div class="skills col-lg-4 col-md-6 col-sm-6">
                    <img src="{% static 'images/css.png' %}" />
                    <h3 class="text-center">CSS</h3>
                </div>

            </div>
            <div class="skillset row ">
                <div class="skills col-lg-4 col-md-6 col-sm-6">
                    <img class="text-center" src="{% static 'images/selenium.png' %}" />
                    <h3 class="text-center">SELENIUM</h3>
                </div>
                <div class="skills col-lg-4 col-md-6 col-sm-6">
                    <img src="{% static 'images/eclipse.png' %}" />
                    <h3 class="text-center">ECLIPSE IDE</h3>
                </div>
                <div class="skills col-lg-4 col-md-6 col-sm-6">
                    <img src="{% static 'images/Rest-Assured.png' %}" />
                    <h3 class="text-center">REST-ASSURED API</h3>
                </div>


            </div>
            <div class="skillset row ">
                <div class="skills col-lg-12">
                    <img class="text-center" src="{% static 'images/postman.png' %}" />
                    <h3 class="text-center">POSTMAN</h3>
                </div>

            </div>


        </div>

        <div class="aboutme mb-5" id="aboutme">
            <div class="profile-summary">
                <h1 class="text-center mb-5" style="text-decoration: underline; color: tomato;">ABOUT ME</h1>

                <div class="aboutme row justify-content-around align-items-center">
                    <img class="img-thumbnail col-5" style="height: 400px; width: 400px;" src="{% static 'images/aboutme.jpg' %}"
                        alt="" />
                    <p class="col-5 text-center">I’m Vinod Kumar, working as Automation Test Engineer. I’m basically
                        from
                        Nellore, Andhra Pradesh. I have developed Testing frameworks and much interested in doing some
                        creative things.
                        Automation Testing has bought a drastic change in software testing world which overcomes the
                        traditional way of testing things. I have some vast experience in designing Django project using
                        some front-end technologies. I thoroughly enjoy creating and spend time on personal projects.
                        Collaborating a project is a real treat, so if you have a project in mind, I’d love to hear from
                        you.
                    </p>
                </div>

            </div>
        </div>

        <div class="container projects-summary">
            <h1 class="text-center  mb-5" style="text-decoration: underline; color: tomato;" id="projects-summary">PROJECTS</h1>
            <div class="project-1 row mb-5 align-items-center">
                <div class="col-4 text-center">CITI DIRECT (Payments)</div>
                <div class="col-4 icons text-center">
                    1

                </div>

                <div class="col-4">CITI Direct BE is a Corporate Banking application to enrich the user
                    experience and to be on par with corporate banking products offered by competitive Banks. The main
                    goal
                    of the project is to increase customer satisfaction for CitiDirect users. In continuing evolution of
                    Citibank's on-line banking platform, TTS is deploying CitiDirect BE 1.3b. The Functionality and User
                    Interface (UI) for CitiDirect BE is being built in phases, in order to reduce risk to the
                    organization.
                    This corporate banking platform encompasses Cash Management.
                    The modules that have gone live so far include various Payments and collection products across
                    multiple
                    geographies. It all includes all Reports and Inquiries module.</div>
                <div class="vertical top_line"></div>
            </div>
            <div class="project-1 row mb-5 align-items-center">
                <div class="col-4 text-center">Global financial messaging (GFM)</div>
                <div class="col-4 icons text-center">
                    2

                </div>

                <div class="col-4">Global financial messaging (GFM), Satellite application for messaging using
                    SWIFT messages. The Society for Worldwide Interbank Financial Telecommunication (SWIFT) provides a
                    network that enables financial institutions worldwide to send and receive information about
                    financial
                    transactions in a secure, standardized and reliable environment. GFM application uses swift messages
                    for
                    a secure network for transmitting messages between financial institutions.</div>

            </div>
        </div>

        <div class="container contact-wrapper mb-5">
            <h1 class="text-center mb-5" id="contactme" style="text-decoration: underline; color: tomato;">Contact Me</h1>

            <div class="row" style="color: white;">
                
                <div class="contact-details col-6 col-md-6 col-sm-12 ">
                    <div class="contact address-details">
                        <img src="{% static 'images/address.svg' %}" alt="">
                        <div class="address">Address
                            <p>27-8-771,
                                N.T.R Nagar,<br>
                                Ring Road Center,<br>
                                Nellore, Andhrapradesh - 524002
                            </p>
                        </div>
                    </div>

                    <div class="contact mail-details">
                        <img src="{% static 'images/mail.svg' %}" alt="">

                        <p>dvvsvinodkumar@gmail.com
                        </p>

                    </div>

                    <div class="contact phone-details">
                        <img src="{% static 'images/phone.svg' %}" alt="">
                        <div class="phone">Phone
                            <p>9176994322
                            </p>
                        </div>
                    </div>

                </div>
                <div class="contact-form col-6 col-md-6 col-sm-12 mr-5">
                    <form action="" method="post">
                        <div class="form-group mb-5">
                            <label for="firstname">FirstName</label>
                            <input type="text" class="form-control" name="" id="firstname">
                        </div>

                        <div class="form-group mb-5">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="" id="email">
                        </div>

                        <div class="form-group mb-5">
                            <label for="textarea">Description</label>
                            <textarea class="form-control" name="" id="textarea" rows="4"></textarea>
                        </div>

                        <button class="text-center btn-lg mx-2" style="background-color:orangered;" type="submit">Send Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>